@use 'sass:color';
@use 'variables' as *;

.button {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: $text-color;
    background-color: $primary-color;
    border: 1px solid $primary-color;
    border-radius: $border-radius;
    transition: background-color $transition-speed, box-shadow $transition-speed;

    &:hover {
        background-color: $hover-color;
        box-shadow: $box-shadow;
    }

    &-secondary {
        background-color: $secondary-color;
        border-color: $secondary-color;

        &:hover {
            background-color: color.adjust($secondary-color, $lightness: 10%);
        }
    }

    &-disabled {
        background-color: color.adjust($primary-color, $lightness: 30%);
        border-color: color.adjust($primary-color, $lightness: 30%);
        opacity: 0.6;
    }
}

input {
    padding: 0.5rem;
    font-size: 1rem;
    background-color: $input-background-color;
    color: $input-text-color;
    border: 1px solid $input-border-color;
    border-radius: $border-radius;
    transition: border-color $transition-speed, box-shadow $transition-speed;

    &:focus {
        border-color: $primary-color;
        box-shadow: 0 0 5px rgba($primary-color, 0.8);
        outline: none;
    }

    &--error {
        border-color: $error-color;
    }
}

.input {
    width: 100%;
}

.label {
    display: block;
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
    color: color.adjust($text-color, $lightness: 40%);
}

.form-group {
    margin-bottom: 1rem;

    .label {
        margin-bottom: 0.25rem;
    }

    .input {
        margin-bottom: 0.5rem;
    }
}

.form-group-checkbox {
    margin-bottom: 1rem;

    .form-group {
        display: flex;
        align-items: center;
        margin-bottom: 0;
        
        .label {
            font-size: 16px;
        }

        .input {
            height: 16px;
            margin-right: 0.5rem;
        }
    }

    i {
        font-size: 12px;
    }
}

.checkbox, .radio {
    display: flex;
    align-items: center;

    input {
        margin-right: 0.5rem;
    }

    label {
        font-size: 0.875rem;
    }
}

.form {
    max-width: 600px;
    margin: 0 auto;
    background-color: $background-color;
    padding: 1.5rem;
    border-radius: $border-radius;
    box-shadow: $box-shadow;

    .form-title {
        font-size: 1.25rem;
        margin-bottom: 1rem;
        color: $text-color;
    }

    .form-actions {
        display: flex;
        justify-content: flex-end;

        .button {
            margin-left: 0.5rem;
        }
    }
}