@use './variables' as *;
@use 'components/font';
@use 'components/logo';
@use 'pages/camera-page';
@use 'pages/dashboard-page';

body {
    background-color: $background-color;
    color: $primary-color;
    font-family: monospace, sans-serif, Arial;
    font-size: 1em;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 1rem;
}

.flex {
    display: flex;
}
