body {
    background: #1d0000;
    color: #d4d4d4;
    font-family: monospace, sans-serif, Arial;
}

#liveCamera {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #fff;
    font-size: 2em;
}

.camera-feed img {
    border: 1em solid #000;
}

.mirrored {
    transform: scaleX(-1);
    display: flex;
    justify-content: right;
}