#login {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    .login-form {
        padding: 3rem;

        .form-group {
            display: flex;
            flex-direction: column;
        }

        label {
            font-weight: bold;
        }
    }
}