<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Seal-Pi | Live Camera</title>
</head>

<body>
    <section id="liveCamera">
        <h1>Live Camera</h1>
        
        <div class="camera-feed" class="mirrored">
            <img src="{{ url_for('camera_feed') }}" alt="Live Camera">
        </div>
    </section>
</body>

</html>