h1 {
    color: #fff;
    font-size: 2em;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
    padding: 0.5rem;
    user-select: none;
}